:root{
--cor1:#FEB7C3;
--cor2:#FEC4D2;
--cor3:#FCD8DE;
--cor4:#FEE8EB;
--cor5:#FEF2F4;
--cor6:#ffd644;
}
*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Notable&family=Passion+One:wght@400;700;900&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

header{
    background-color:#FCD8DE;
    height: 2.5em;
    padding-top: 1em;
}

.navbar{
position: fixed
}

ul{
    
    padding-left: 3em;
    display: flex;
    list-style: none;
    
    
}
a.menu{
    padding: 10px;
    margin-right: 0px;
    border-left: white 1px solid;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    text-decoration:none;
    color: white;
}
a.ultimo{
    border-right: white 1px solid;
    border-left: white 1px solid;
    padding: 10px;
    margin-right: 0px;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    text-decoration:none;
    color: white;
}
a:hover{
  color:var(--cor6);
}
.logo{
  padding: 0%;
  margin-top: 40%;
  width: 80px;
  height: 80px;
}
nav.white{
  display: flex;
}
a.e{
    padding-top: 3%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 2%;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    text-decoration:none;
    color: var(--cor1);
    justify-content: center;
}
a.e:hover{
  border-bottom: var(--cor1) 1px solid;
}