:root{
--cor1:#FEB7C3;
--cor2:#FEC4D2;
--cor3:#FCD8DE;
--cor4:#FEE8EB;
--cor5:#FEF2F4;
}
*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Notable&family=Passion+One:wght@400;700;900&family=Rubik+Vinyl&family=Shadows+Into+Light&display=swap');
.passion-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", sans-serif;
  font-weight: 900;
  font-style: normal;
}

header{
    background-color: #FEB7C3;
    height: 2.5em;
    padding-top: 1em;
}

.navbar{
position: fixed
}

ul{
    border-right: white;
    border-left: white;
    margin-top: px;
    padding-left: 3em;
    display: flex;
    list-style: none;
    gap: 20px;
    
}
a{
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    text-decoration:none;
    color: white;
    

}